#textBox1{
    width: 200px;
    height: 50px;
    border-width: 3px;
   /*border-color: brown;*/
    border-style:ridge;
    /* border-radius: 10px; */
}
#para{
    color: brown;
    
}
body>div>button{
    color: white;
    background-color: red;
    margin: 15px;
}
.fixed{
    position: fixed;
    left: 50px;
    bottom: 10px;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}
.grid-item {
    padding: 10px;
}
.grid-item img{
    width: 100px;
    height: 80px;
    padding: 3px;

}
.flexcen img{
    width: 100px;
    height: 80px;
    padding: 10px;
}
.flexcen{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.flexspace img{
    width: 100px;
    height: 80px;
    padding: 10px;

}
.flexspace{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
   
    
}